@import "@/assets/variables.scss";




@import "@/assets/variables.scss";

.enter-screen {
  background-image: url('@/assets/img/fon.jpg'); // Укажите путь к вашему изображению
  background-size: cover; /* Масштабирует изображение, чтобы покрыть весь контейнер */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  min-height: 100vh; /* Задаёт минимальную высоту компонента */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Центрирует содержимое по вертикали */
  color: #fff; /* Цвет текста для контраста */
}

.enter-screen__headline {
  color: #000000; /* Укажите нужный цвет, например, красно-оранжевый */
  font-size: 2.5rem; /* Настройте размер текста, если нужно */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Пример тени текста для улучшения читаемости */
  text-align: center; /* Центрирование текста */
}

.enter-screen__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.enter-screen__link-signup {
  border-radius: $button-border-radius-1;
  padding: 10px 20px;
  border: none;
}

.router {
  color: #1e1a3e;
  text-decoration: none;
}

.enter-screen__link-signin {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: $subtitle;
}

.bi-arrow-right {
  color: whitesmoke;
}

.enter-screen__image {
  display: flex;
  justify-content: center;
  align-items: center; /* Центрирует изображение вертикально */
  margin-top: 33px;
}

.enter-screen__image {
  margin-top: 33px;
}
